PORT=4001
FRONTEND_ORIGIN=http://localhost:3000

GAME_TOTAL_SECONDS=420
PHASE_ROLE_ASSIGNMENT_SECONDS=5
PHASE_CODING_SECONDS=300
PHASE_MEETING_SECONDS=120
PHASE_SHUFFLE_SECONDS=5
PHASE_VOTE_SECONDS=45
DISCONNECT_GRACE_MS=30000

STAKING_MODE=mock
STAKING_ENFORCE=false
STAKING_CHAIN=monad
STAKING_RPC_URL=https://testnet-rpc.monad.xyz
STAKING_POOL_ADDRESS=0x010c654A7CDE6A7B8A8A58B815F05a6AB2cB163F
STAKING_SIGNER_PRIVATE_KEY=2dfa66926a4da5f2566a58b2f3f0100f96024998021331b73fc6e6223f0b16be
STAKING_ENTRY_FEE_WEI=1000000000000000
NEXT_PUBLIC_PRESENTATION_MODE=true
