NEXT_PUBLIC_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_MONAD_EXPLORER_URL=https://testnet.monadexplorer.com
NEXT_PUBLIC_SEPOLIA_RPC_URL=
NEXT_PUBLIC_SERVER_URL=http://localhost:4001
NEXT_PUBLIC_PRESENTATION_MODE=false
NEXT_PUBLIC_POOL_ADDRESS=
NEXT_PUBLIC_ENTRY_FEE_ETH=0.001
